<h1> LOGIN  PAGE</h1>

<form action="perform_login" method="post">
  <input type="text" name="login_email" placeholder="Email">
  <input type="password" name="password" placeholder="password">
  <br>
  <input type="submit" value="Login">
</form>
